html {
    background-color: whitesmoke;
    background-image: url(backgroundimage.PNG);
    width: 100%;
}

.Container1{
    position: relative;
    text-align: center;
    color: black;
}

.NameHeader{
    position: absolute;
    top: 30px;
    left: 35px;
    font-size: 24px;
}