html {
    background-color: whitesmoke;
    background-image: url(backgroundimage.PNG);
    width: 100%;

    @media (min: width 801px);
}

.Container1{
    position: relative;
    text-align: center;
    color: black;
}

.NameHeader{
    position: absolute;
    top: 50px;
    left: 120px;
    font-size: 30px;
}