html {
    background-color: whitesmoke;
    background-image: url(backgroundimage.PNG);
    height: 30vh;
}

.Container1{
    position: relative;
    text-align: center;
    color: black;
}

.NameHeader{
    position: absolute;
    top: 5px;
    left: 10px;
}